<% provide(:title, "Editar Categoría Recetas") %>

<%= render 'form', categoria_receta: @categoria_receta %>

<div class="botonera">
  <%= link_to 'Volver', categoria_recetas_path, class: 'btn btn-default'  %>
</div>