<% provide(:title, "Editar subcategoria receta") %>

<%= render 'form', subcategoria_receta: @subcategoria_receta %>

<div class="botonera">
  <%= link_to 'Volver', subcategoria_recetas_path, class: 'btn btn-default'  %>
</div>