<% provide(:title, "Editar Publicación") %>

<%= render 'form', publicacion: @publicacion %>

<div class="botonera">
  <%= link_to 'Ver', @publicacion, class: 'btn btn-info'  %>
  <%= link_to 'Volver', publicaciones_path, class: 'btn btn-default'  %>
</div>