<% provide(:title, "Editar Receta") %>

<%= render 'form', receta: @receta %>

<div class="botonera">
  <%= link_to 'Ver', @receta, class: 'btn btn-info'  %>
  <%= link_to 'Volver', recetas_path, class: 'btn btn-default'  %>
</div>