<% provide(:title, "Editar comentario de receta") %>

<%= render 'form', comentario_receta: @comentario_receta %>

<div class="botonera">
  <%= link_to 'Volver', ciudades_path, class: 'btn btn-default'  %>
</div>