<% provide(:title, "Editar Categoría Pois") %>

<%= render 'form', categoria_poi: @categoria_poi %>

<div class="botonera">
  <%= link_to 'Ver', @categoria_poi, class: 'btn btn-info'  %>
  <%= link_to 'Volver', categoria_pois_path, class: 'btn btn-default'  %>
</div>
