<h1>Documentación para Admins</h1>

<h2>URLs de descarga</h2>
<p>
Si todavía no te descargaste Arrancando podés hacerlo:
  <ul>
    <li>
      Para Android desde
      <%= link_to(ANDROID_DOWNLOAD_URL, ANDROID_DOWNLOAD_URL) %>
    </li>
    <li>
      Para iOS desde
      <%= link_to(IOS_DOWNLOAD_URL, IOS_DOWNLOAD_URL) %>
    </li>
  </ul>
</p>


<h2>Puntaje de usuarios</h2>
<p>La puntuación de usuarios se calcula de según la siguiente fórmula: <br>
  <span class="formula">P = 2 x Pub + 4 x Rec + 3 x Poi + Com</span>
  <br>
  donde:
  <ul>
    <li><span style="font-style: italic;">P</span>: Puntaje</li>
    <li><span style="font-style: italic;">Pub</span>: Cantidad de Publicaciones creadas por el usuario</li>
    <li><span style="font-style: italic;">Rec</span>: Cantidad de Receetas creadas por el usuario</li>
    <li><span style="font-style: italic;">Poi</span>: Cantidad de Puntos de interés creados por el usuario</li>
    <li><span style="font-style: italic;">Com</span>: Cantidad de Comentarios hechos por el usuario</li>
  </ul>
</p>