<h1>Documentación para Admins</h1>
<h2>URLs de descarga</h2>
<p>
  Si todavía no te descargaste Arrancando podés hacerlo:
  <ul>
    <li>
      Para Android desde
      <%= link_to(ANDROID_DOWNLOAD_URL, ANDROID_DOWNLOAD_URL) %>
    </li>
    <li>
      Para iOS desde
      <%= link_to(IOS_DOWNLOAD_URL, IOS_DOWNLOAD_URL) %>
    </li>
  </ul>
</p>
<h2>Puntaje de usuarios</h2>
<p>La puntuación de usuarios se calcula de según la siguiente fórmula: <br>
  <span class="formula">P = 5 x Pub + 10 x Rec + 10 x Poi + 2 x InCom + 2 x OutCom + L(UPub) + L(URec) + L(UPoi) + f(Pub) + f(Rec)</span>
  <br>
  donde:
  <ul>
    <li><span style="font-weight: bold;">P</span>: Puntaje</li>
    <li><span style="font-weight: bold;">Pub</span>: Cantidad de Publicaciones creadas por el usuario</li>
    <li><span style="font-weight: bold;">Rec</span>: Cantidad de Recetas creadas por el usuario</li>
    <li><span style="font-weight: bold;">Poi</span>: Cantidad de Puntos de interés creados por el usuario</li>
    <li><span style="font-weight: bold;">OutCom</span>: Cantidad de Comentarios hechos por el usuario</li>
    <li><span style="font-weight: bold;">InCom</span>: Cantidad de Comentarios recibidos por los Items del usuario</li>
    <li><span style="font-weight: bold;">w(x)</span>: Función que devuelve 1 si (0 < x < 5), 2 si (5 =< x < 10), 3 si (10 =< x < 20), 4 si (20 =< x < 40), y 5 si (x >= 40).</li>
      <li><span style="font-weight: bold;">UPub</span>: Universo de Publicaciones.</li>
      <li><span style="font-weight: bold;">URec</span>: Universo de Recetas.</li>
      <li><span style="font-weight: bold;">UPoi</span>: Universo de Puntos de interés.</li>
      <li><span style="font-weight: bold;">L(Items)</span>: Devuelve la cantidad de likes que el usuario ha dado en el conjunto Items.</li>
      <li><span style="font-weight: bold;">f(x, Items)</span>: Función que devuelve la cantidad de Items con más que x puntajes de 5 estrellas que tiene el usuario. Si el ítem tiene más de 5 votos de 5 estrellas, vale doble. Si tiene más de 10, vale triple. Cuádruple para más de 20, y quíntuple para más de 40.</li>
    </ul>
  </p>
