<h1>Documentación para Admins</h1>

<h2>Puntaje de usuarios</h2>
<p>La puntuación de usuarios se calcula de según la siguiente fórmula: <br>
  <span class="formula">P = 2 x Pub + 2 x Rec + 2 x Poi + Com</span>
  <br>
  donde:
  <ul>
    <li><span style="font-style: italic;">P</span>: Puntaje</li>
    <li><span style="font-style: italic;">Pub</span>: Cantidad de Publicaciones creadas por el usuario</li>
    <li><span style="font-style: italic;">Rec</span>: Cantidad de Receetas creadas por el usuario</li>
    <li><span style="font-style: italic;">Poi</span>: Cantidad de Puntos de interés creados por el usuario</li>
    <li><span style="font-style: italic;">Com</span>: Cantidad de Comentarios hechos por el usuario</li>
  </ul>
</p>