<div class="home">
  <%= link_to(image_tag("/images/receta_iphoneX.png"), 'https://arrancando.com.ar/recetas/850') %>
  <div class="texto-home">
    <%= image_tag("/images/logo-ext.png", class: 'logo') %>
    <%# <h1>Arrancando</h1> %>
    <h5>Arrancando es una app para apasionados por la comida. Es una comunidad donde podés aprender y compartir, publicaciones, recetas, técnicas, tips, culturas culinarias de más de 20 países. En Arrancando también podés crear tu tienda virtual gratis para promocionar tus productos.</h5>
  </div>
  <%= link_to(image_tag("/images/publicacion_iphoneX.png"), "https://arrancando.com.ar/publicaciones/1156") %>
</div>
<div class="privacy_policy">
  <h3><%= link_to "Política de privacidad", privacidad_path %></h3>
</div>
