<h1>Política de privacidad</h1>
<p>Cuando ingreses con tu cuenta de Google o Facebook, guardaremos tus siguientes datos:</p>
<ul>
  <li>Email</li>
  <li>Nombre</li>
  <li>Apellido</li>
  <li>Nombre de usuario</li>
  <li>Imagen de perfil</li>
</ul>
<p>Si deseás que tus datos sean removidos de nuestra base de datos, por favor escribinos a info@arrancando.com.ar.</p>
