<% provide(:title, "Editar comentario de publicación") %>

<%= render 'form', comentario_publicacion: @comentario_publicacion %>

<div class="botonera">
  <%= link_to 'Volver', ciudades_path, class: 'btn btn-default'  %>
</div>