$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "bootstrap_custom";
@import "custom";
@import "colors";
@import "content-show";
@import "fonts";
@import "forms";
@import "heights";
@import "navbar";
@import "pagination";
@import "tablas";
@import "users";

body {
  background-color: $negro_fondo;
  color: $blanco;
}

.alert {
  text-align: center;
}

h1.title {
  text-align: center;
  margin: 30px;
}

.main_container {
  margin: 20px;
}

table {
  th {
    // border-top: 0 !important;
  }
}

.btn.inline {
  margin-left: 10px;
  padding: 3px 5px;
}

* {
  font-family: 'Montserrat',
    sans-serif;
  font-size: 12pt;
  font-weight: 300;

  @media (max-width: $bpMaxSmall) {
    font-size: 11pt;
  }
}

p.strong,
strong {
  font-size: 16pt;
  font-family: 'Sofia';
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav * {
  // font-family: "SeaWeed Fire",
  // "Noto Sans TC",
  // sans-serif;
  font-weight: 800;
  text-transform: uppercase;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sofia';
}

h1 {
  text-shadow: #888 1px 1px 2px;
}

h2,
h3,
h4,
h5 {
  color: $blanco;
  // text-shadow: #888 1px 1px 2px;
}

a {
  color: $verde;
  font-weight: 600;
}

.show_outer_cont {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .show_inner_cont {
    border: 1px solid $negro_claro;
    border-radius: 5px;
    padding: 20px 25px 5px;
    margin-bottom: 20px;
  }
}

.botonera {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 30px;
}

.main {
  margin: 15px 8vw;
}

video {
  max-width: 250px;
  max-height: 250px;
}

.user-info {
  display: flex;
  align-items: center;

  img {
    margin: 20px;
  }
}

#user_count {
  margin-top: 30px;
  text-align: center;


  p {
    font-style: italic;
    color: $gris_bordes;
  }
}

.formula {
  margin-left: 20px;
  font-style: italic;
  font-size: 130%;
}

.nota-admin {
  font-style: italic;
  font-weight: 300;
  font-size: 11pt;
  text-align: right;
}