$violeta: #3a2d61;
$negro: #221b3e;
$negro_claro: #3e3e3f;
$amarillo: #dfb561;
$gris: #e0dfe5;
$gris_claro: #f9f9f9;
$gris_bordes: #bababa;
$blanco: #fff;
$rojo: #f44336;
$naranja: #ff9c00;
$violeta_footer: #221c3a;
$celeste: #52addb;