@import "colors";
@import "heights";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    margin-right: 10px;

    @media (max-width: $bpMaxSmall) {
      margin-top: 10px;
    }
  }
}

.form-container form {
  padding-top: 10px;
  margin-top: 30px;
}

.fields_for {
  border: 1px solid $negro_claro;
  border-radius: 5px;
  padding: 10px;

  &>label {
    font-weight: bold;
  }
}

form label:not(.inline) {
  width: 10vw;
  font-weight: bold;
}

form.new_filterrific label {
  width: initial;
  margin-right: 10px;
}

.double-col {
  @media (max-width: $bpMaxSmall) {
    max-width: 400px;
  }
}

.caja {
  border: none;
  background-color: $gris_bordes;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form.edit_inscripcion {
  display: inline;
}

.form-group {

  margin-top: 20px;
  margin-bottom: 0px;
}

form#filterrific_filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .field {
    display: inline;
    margin-right: 30px;

    label {
      margin-bottom: 0px !important;
    }
  }

  input[type=submit] {
    margin-top: 0px !important;
  }

  input[type=date] {
    border-radius: 5px;
    box-shadow: none;
    padding: 2px;
  }

  input#filterrific_search_query {
    border-radius: 5px;
    box-shadow: none;
    padding: 2px;
    width: 200px;
    max-width: 70vw;
  }

  div#borrar_filtros {
    // margin-top: 5px;
    margin-left: 10px;
  }
}

div#aplicar_filtros {
  // margin-top: 5px;
  margin-left: 10px;
}

.solo_juridicas {
  // display: none;
}

td#botones_multiples form {
  flex-direction: row;
  justify-content: flex-end;
}

td#botones_multiples_info {
  text-align: center;

  p {
    font-style: italic;
  }
}

th.info_header {
  text-align: right;
}

table *,
td,
th {
  vertical-align: middle;
}

.form-container {

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
}

form.fechas {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  input[type=submit] {
    margin-top: 0px;
    margin-left: 20px;
  }

  div:first-of-type {
    margin-right: 10px;
  }
}

form.new_filterrific {
  div {
    display: flex;

    p {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  input[type=submit] {
    margin-left: 15px;
  }
}

div.field {
  display: flex;
  align-items: center;
  margin: 10px 20px;

  @media (max-width: $bpMaxSmall) {
    flex-direction: column;
  }

  input[type=text],
  textarea {
    width: 40vw;
  }

  textarea {
    height: 200px;
  }
}
#ingredientes_items {
  flex-direction:column;
}

.nested-fields {
  width: 40vw;

  input[type=text] {
    max-width: 5em;
  }
  select {
    margin-left: 20px;
    margin-right: 20px;
  }
}