@import 'colors';
@import 'heights';

nav.navbar {
  align-items: flex-end;
}

.navbar-brand img {
  @media screen and (max-width: $bpMaxSmall) {
    max-width: 100px;
    max-height: 50px;
  }
}

.navbar-light .navbar-nav {
  align-items: center;
}

nav div.navbar-collapse ul li a.nav-link {
  text-transform: uppercase;
  font-size: 12pt;

  @media (max-width: $bpMaxSmall) {
    font-size: 11pt;
  }
}

.navbar-light .navbar-nav .nav-link {
  margin: 0 0.5rem;
}

.navbar-light .navbar-nav li a,
.navbar-right input {
  font-weight: lighter;
  color: $negro_claro !important;
  font-size: 12pt;

  @media screen and (max-width: $bpMaxSmall) {
    font-size: 18pt;
  }

  &.active {
    color: $verde;
    font-weight: normal;
  }
}

.nav-item {
  margin-right: 5px;
}

.navbar-right {
  .nav-item {
    margin-right: 5px;
    margin-left: 5px;

    .nav-link {
      padding-left: 2em;
      padding-right: 2em;
      font-size: 10pt;

      @media screen and (max-width: $bpMaxSmall) {
        text-align: center;
      }
    }
  }

  input[type='submit'] {
    margin-top: initial;
    border: none;
    background-color: transparent;
  }
}

#navbar-ingresar {
  font-weight: bold;
  color: $blanco !important;
}

#navbar-registrarse {
  background-color: $gris_bordes;
  font-weight: bold;
}

// .navbar-toggler {
//   padding: 0.5rem 1rem;
//   font-size: 250%;
// }