<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Contacto de un usuario desde la app</h1>
    <p>
      <%= @text %>
    </p>
    <p>
      El usuario es <%= @user.username %>
      (ID <%= @user.id %>).
    </p>
    <p>¡Saludos!</p>
  </body>
</html>
