<% provide(:title, "Editar Categoría Publicación") %>

<%= render 'form', categoria_publicacion: @categoria_publicacion %>

<div class="botonera">
  <%= link_to 'Volver', categoria_publicaciones_path, class: "btn btn-default"%>
</div>
