<h1>Editing Categoria Publicacion</h1>

<%= render 'form', categoria_publicacion: @categoria_publicacion %>

<%= link_to 'Show', @categoria_publicacion %> |
<%= link_to 'Back', categoria_publicaciones_path %>
