<% provide(:title, "Editar Poi") %>

<%= render 'form', poi: @poi %>

<div class="botonera">
  <%= link_to 'Ver', @poi, class: 'btn btn-info'  %>
  <%= link_to 'Volver', pois_path, class: 'btn btn-default'  %>
</div>